gunicorn==19.5.0
Flask==1.1.1
future==0.18.2
nltk==3.4.5
spacy==2.2.3
textblob==0.15.3
thinc==7.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0
